
<div class="container mx-auto my-8">
  <button class="bg-blue-500 text-white px-4 py-2 rounded-md mt-4" (click)="goToCreatePostForm()">Crear Nuevo Post</button>
</div>

<div class="container mx-auto my-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let post of posts.posts" class="bg-white p-4 rounded-md shadow-md">
      <p class="text-lg font-semibold mb-2 title">{{ post.title }}</p>
      <div class="text-gray-600 text-sm max-h-32 overflow-hidden content">
        <p><strong>Comentario:</strong> {{ post.content }}</p>
      </div>
      <div class="text-gray-600 text-sm mt-2">
        <p><strong>Posteado:</strong> {{ post.created_at | date }}</p>
      </div>
    </div>
  </div>
  <p class="mt-4">Total: {{ posts.total }}</p>
</div>
